*.iml
.gradle
keystore.properties
app/release.jsk
app/google-services.json
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
/.idea/
chips/.settings
chips/library/.settings
.settings
.project
